<div class="tours-container">
  <div class="tour-list">
    <% @tours.each do |tour| %>
      <%= link_to tour_path(tour) do %>
        <div class="tour-details">
          <div class="ref-no">
            Reference Number: <%= tour.reference_number %>
          </div>
          <div class="tour-name">
            Tour Name: <%= tour.tour_name %>
          </div>
          <div class="dept-date">
            Deptarture Date: <%= tour.departure_date %>
          </div>
          <div class="term-date">
            Termination Date: <%= tour.termination_date %>
          </div>
          <div class="tour-status">
            Status: <%= tour.status %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>